Part-3-b.dtd

<!DOCTYPE book [
  <!ELEMENT book (title, author, year, publisher, price)>
  <!ELEMENT title (#PCDATA)>
  <!ELEMENT author (#PCDATA)>
  <!ELEMENT year (#PCDATA)>
  <!ELEMENT publisher (#PCDATA)>
  <!ELEMENT price (#PCDATA)>
  <!ATTLIST year type CDATA "integer">
  <!ATTLIST price type CDATA "decimal">
]>
